* {
  box-sizing: border-box;
  text-decoration: none;
}

.main_body {
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: -17;
  right: 200px;
  width: 600px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.signup h1 {
  color: rgb(94, 248, 94);
  font-size: 26px;
}

.signup h2 {
  color: rgb(77, 208, 77);
  font-size: 22px;
}

.signup p {
  font-size: 20px;
}
.A_G_btn {
  padding: 5px;
  margin: -15px;
}
.A_G_btn button {
  background-color: white;
  display: flex;
  width: 300px;
  padding: 2px;
  margin: 10px;
  border-radius: 12px 10px 6px 10px;
}
.A_G_btnbutton:hover {
  cursor: pointer;
}

.A_G_btn button svg {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.A_G_btn button p {
  text-align: center;
  position: relative;
  right: 90px;
  font-size: 20px;
}

.or {
  display: flex;
  justify-content: center;
  position: relative;
  right: 150px;
}
.or p {
  font-size: 14px;
}
.or::after {
  content: "";
  border: 1px solid;
  border-width: thin;
  transform: rotate(89deg);
  position: relative;
  left: 40px;
  opacity: 0.4;
}

.or::before {
  content: "";
  border: 1px solid;
  border-width: thin;
  transform: rotate(89deg);
  position: relative;
  right: 40px;
  opacity: 0.4;
}

.email_input {
  display: flex;
  flex-flow: column;

  width: 280px;
}

.email_input label {
  font-size: 17px;
  font-weight: 600;
}

.email_input input {
  padding: 17px;
  border-radius: 15px;
  margin-top: -10px;
}

.next {
  padding: 11px;
  margin: 10px;
}
.next button {
  padding: 10px;
  width: 100px;
  border-radius: 15px;
}

.container2 {
  background-image: url(../image/mongo\ project\ img.png);
  height: 100vh;
  width: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-flow: column;
  justify-self: flex-end;
  color: white;

  padding: 30px;
}

#mediaQ_header {
  display: none;
}

#mediaQ_header a {
  display: flex;
  justify-content: center;
  position: absolute;
  right: auto;
  left: auto;
  color: white;
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
}

.cont2_content {
  width: 350px;
}

.cont2_content h2 {
  font-size: 35px;
}

.cont2_content p {
  font-size: 17px;
  line-height: 22px;
}

.percent_off {
  text-decoration: underline;
  margin-top: 120px;
}
.percent_off a {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 1096px) {
  .container2 {
    width: 50vw;
  }
}
@media screen and (max-width: 1030px) {
  .main_body {
    position: relative;
    right: 150px;
  }
  .container2 {
    width: 50vw;
  }
}

@media screen and (max-width: 933px) {
  .main_body {
    position: relative;
    right: 90px;
  }

  .container2 {
    width: 50vw;
  }
}

@media screen and (max-width: 830px) {
  .main_body {
    position: relative;
    right: 70px;
  }

  .container2 {
    width: 50vw;
  }
}

@media screen and (max-width: 799px) {
  .main_body {
    position: relative;
    right: 40px;
  }

  .container2 {
    width: 300px;
  }

  .cont2_content {
    width: 240px;
  }
}

@media screen and (max-width: 711px) {
  .main_body {
    position: relative;
    right: 5px;
    left: 30px;
    margin: 10px;
  }

  .container2 {
    width: 270px;
  }

  .cont2_content {
    position: relative;
    top: 50px;
    width: 200px;
    text-align: center;
  }

  .cont2_content h2 {
    display: none;
  }

  .cont2_content p {
    display: none;
  }

  .arrow2 {
    display: none;
  }
  #mediaQ_header {
    display: block;
  }
}

@media screen and (max-width: 657px) {
  .main_body {
    position: relative;
    right: 40px;
    overflow: hidden;
  }

  .container2 {
    width: 200px;
  }

  .cont2_content {
    width: 150px;
  }
}

@media screen and (max-width: 645px) {
  .main_body {
    position: absolute;
    top: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .container2 {
    height: 10%;
    width: 100%;
  }

  .cont2_content {
    width: 150px;
  }

  #mediaQ_header {
    width: 400px;
    position: relative;
    top: -60px;
    display: flex;
    justify-content: flex-end;
  }

  .percent_off {
    display: none;
  }
  .arrow2 {
    display: block;
  }
}

@media screen and (max-width: 527px) {
  /* .main_body {
    margin: 13px;
  }
  .signup h1 {
    font-size: 18px;
  }
  .signup h2 {
    font-size: 15px;
  }
  .signup p {
    font-size: 12px;
  } */

  #mediaQ_header a {
    position: relative;
    right: 50px;
  }
}
@media screen and (max-width: 420px) {
  /* .main_body {
      margin: 13px;
    }
    .signup h1 {
      font-size: 18px;
    }
    .signup h2 {
      font-size: 15px;
    }
    .signup p {
      font-size: 12px;
    } */

  #mediaQ_header a {
    position: relative;
    right: 105px;
  }
}

@media screen and (max-width: 387px) {
  .main_body {
    margin: 13px;
  }
  .signup h1 {
    font-size: 21px;
  }
  .signup h2 {
    font-size: 18px;
  }
  .signup p {
    font-size: 16px;
  }

  #mediaQ_header a {
    font-size: 17px;
    position: absolute;
    right: 140px;
  }
}

@media screen and (max-width: 371px) {
  .main_body {
    position: absolute;
    right: -100px;
  }
}
